.contact-page {
  display: flex;
  flex-direction: row; /* Dispor o balão de texto e o formulário lado a lado */
  align-items: center;
  justify-content: space-between; /* Espaço igual entre os itens */
  min-height: 100vh;
  padding: 40px;
  background-image: url('https://static.wixstatic.com/media/3f53d8_e5994ca7c7bd42548b3b721942b458ba~mv2.png/v1/fill/w_952,h_816,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/Line.png');
  background-size: cover;
  background-position: center;
}

.contact-message {
  flex: 1;
  padding: 35px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  max-width: 600px;
}

.contact-message h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #7ed957;
}

.contact-message p {
  font-size: 18px;
  margin-bottom: 15px;
}

.contact-message a {
  color: #7ed957;
  text-decoration: underline;
}

.contact-form {
  flex: 1;
  padding: 40px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  max-width: 600px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f8f8f8;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #7ed957; 
  outline: none;
}

textarea {
  height: 120px;
}

.submit-button {
  padding: 15px;
  background-color: #7ed957;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  text-align: center;
}

.submit-button:hover {
  background-color: #0a3150;
}
